<footer class="pb-0 pt-2 bg-light">
  <div class="container">
    <div class="row justify-content-between">
      <div class="offset-md-1 col-md-4">
          <span placement="top" [ngbTooltip]="tipContent">{{version}}</span>
      </div>
      <div class="col-md-5 pull-right">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-envelope-o black-icon" aria-hidden="true"></i>
            <a class="text-dark" href="mailto:{{contactAddress}}">{{contactAddress}}</a>
          </div>
          <div class="col-md-4">
            <i class="fa fa-github black-icon" aria-hidden="true"></i>
            <a class="text-dark" href="https://github.com/dotse/zonemaster">Github</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="copyright text-muted small">Copyright &copy; AFNIC & IIS 2017. All Rights Reserved</p>
    </div>
  </div>
</footer>

<ng-template #tipContent>
  <table>
    <tbody>
    <tr>
      <td>
        Engine
      </td>
      <td>
        2.1
      </td>
    </tr>
    <tr>
      <td>
        GUI
      </td>
      <td>
        2.1
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
