<footer class="footer">
  <div class="row justify-content-between">
    <div class=" offset-md-1 col-4">
      <p> Project realized by <a>IIS</a> and <a>AFNIC</a>.
        <span placement="top" [ngbTooltip]="tipContent">{{version}}</span>
      </p>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <i class="fa fa-envelope-o black-icon" aria-hidden="true"></i>
          <a href="mailto:{{contactAddress}}">{{contactAddress}}</a>
        </div>
        <div class="col-6">
          <i class="fa fa-github black-icon" aria-hidden="true"></i>
          <a href="https://github.com/dotse/zonemaster">Github</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<ng-template #tipContent>
  <ul>
    <li>Engine : 2.1</li>
    <li>Gui : 2.1</li>
  </ul>
</ng-template>
