.lang {
  position: absolute;
  top: 0;
  right: 0;
}

.lang a {
  color: #fff;
  font-size: small;
  cursor: pointer;
}

.navbar-nav a.nav-link {
  color: #fff;
}
.navbar-nav a.nav-link.active {
  color: #fff;
  font-weight: bold;
}

.header {
  border  : 1px solid #fff;
  border-width  : 0 0 1px 0;
  min-height: 60px;
}
