<a href="https://github.com/pamasse/zonemaster-gui" class="hidden-md"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="container" >
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

    <button class="navbar-toggler navbar-toggler-left" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/" *ngIf="!isNavbarCollapsed">
      <img src="{{logoUrl}}" alt="Zonemaster" class="logo">
    </a>


    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navBar">
      <a class="navbar-brand" routerLink="/" *ngIf="isNavbarCollapsed">
        Zonemaster <!-- <img src="{{logoUrl}}" alt="Zonemaster" width="300"> -->
      </a>

      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/domainCheck" routerLinkActive="active">{{'Domain check'|translate}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/preDelegatedDomainCheck" routerLinkActive="active">{{'Pre-delegated domain'|translate}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq" routerLinkActive="active" >{{'FAQ'|translate}} </a>
          </li>
        </ul>
    </div>

    <div class="lang" *ngIf="!isNavbarCollapsed">
      <select name="lang" class="form-control" id="languageSelection">
        <option lang='en' (click)="setLanguage('en')">
          <span class="flag-icon flag-icon-en"></span> English
        </option>
        <option lang='fr' (click)="setLanguage('fr')">
          <span class="flag-icon flag-icon-fr"></span> Français
        </option>
        <option lang='sv' (click)="setLanguage('sv')">
          <span class="flag-icon flag-icon-sv"></span> Svenska
        </option>
      </select>
    </div>
  </header>
</div>
