<div *ngIf="history.length > 0;else noHistory">
  <div class="" *ngFor="let item of historyItems">
    <span class="history-{{item.overall_result}}">&#x25C9;</span>&nbsp;
    <a routerLink="/result/{{item.id}}" > {{ item.creation_time | date:"short" }} </a>
  </div>
  <ngb-pagination *ngIf="history.length > 1" [collectionSize]="history.length" [(page)]="page" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" (pageChange)="setItemsByPage(page)"></ngb-pagination>
</div>

<ng-template #noHistory>
  <p class="text-dark">No historical data available</p>
</ng-template>
