.logo {
  width: 250px;
}

nav {
  box-shadow: 0px 7px 5px -9px rgba(0,0,0,0.75);
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.github {
  width: 100px;
  height: 100px;
}

.shrink {
  height: 60px;
}

.shrink .logo {
  width: 200px;
}

.shrink .github {
  width: 60px;
  height: 60px;
}
